<html>
  <head>
  </head>
  <body>
		<% if @enabled %>
			Thank you for adding RaykuBot as your friend in facebook. You will start receiving notifications soon.
		<% else %>
			You gave up on adding the RaykuBot as your friend. You will not receive notifications unless you add the bot as your friend.
		<% end %>
  </body>
</html>
