<html>
  <head>
    <title>Temp</title>
  </head>
  <body>
    Would you like to receive Rayku notifications on your facebook chat? <br />
    It is really simple. All you need to do is add RaykuBot as your friend in facebook. <br />
    <br />

    <a href="http://www.facebook.com/dialog/friends/?id=raykubot&app_id=<%=@appid%>&redirect_uri=<%=request.scheme%>://<%=request.host%>:<%=request.port%>/bot_enabled" >Enable RaykuBot</a>
  </body>
</html>
